---
import CreateEvent from "../components/createEvent.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <CreateEvent client:only />
    </div>
    <script>
        if (window.localStorage.getItem("token") === null) {
            window.location.href = "/signin";
        }
    </script>
</Layout>
