---
import CreateButton from "../components/createButton.tsx";
import EventRoom from "../components/EventRoom.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <CreateButton client:load />
    </div>

    <div>
        <EventRoom client:load />
    </div>
    <script>
        if (window.localStorage.getItem("token") === null) {
            window.location.href = "/signin";
        }
    </script>
</Layout>
