---
import CreateButton from "../components/createButton.tsx";
import EventRoom from "../components/EventRoom.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
        <div>
            <CreateButton/>
        </div>
        
        <div>
            <EventRoom/>
        </div>

    </div>
</Layout>