---
import Inventory from "../components/Inventory";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <Inventory client:only />
    </div>

    <div></div>

    <div></div>
</Layout>
