---
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />

  <main class="w-[90vw] mx-[5vw] border border-gray-300 rounded-full flex flex-col items-center">

    <div>HEADING</div>

    <div>SUB HEADING</div>

  </main>

</Layout>
